@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: black;
    color: white;
}


.left {
    width: 25vw;
    padding: 10px;
}

.right {
    width: 75vw;
}

.home ul li {
    display: flex;
    width: 15px;
    gap: 15px;
    padding-top: 14px;
    list-style: none;
    font-weight: bold;

}

.heading {
    display: flex;
    width: 100%;
    gap: 15px;
    padding-top: 14px;
    padding: 23px 14px;
    list-style: none;
    font-weight: bold;
    align-items: center;
    font-size: 13px;
}

.heading img {
    width: 30px;
}

.library {
    min-height: 75vh;
    position: relative;
}

.footer {
    display: flex;
    font-size: 10px;
    color: grey;
    gap: 11px;
    position: absolute;
    bottom: 0;
    padding: 10px 0;
}

.footer a {
    color: grey;
}

.right {
    margin: 15px 0;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #2a2929;
}

.header>* {
    padding: 18px;
}

.spotifyPlaylists {
    padding: 14px;
}

.cardContainer {
    margin: 26px;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    overflow-y: scroll;
    max-height: 60vh;
}

.cards {
    width: 160px;
    /* height: 260px; */
    padding: 10px;
    position: relative;
    background-color: #252525;
    border-radius: 5px;
}

.cards>* {
    padding-top: 8px;
}

.cards img {
    width: 100%;
    object-fit: contain;
}

.play {
    width: 50px; 
    height: 35px;
    background-color: #1ed760;
    border-radius: 50%;
    display: flex; 
    justify-content: center; 
    align-items: center;
    /* overflow: hidden; */
    position: absolute;
    right: 14px;
    top: 130px; 
    transition: all 1s ease-out;
} 

.buttons > *{
    margin: 0 12px ;
}

.Signup-btn{
    background-color: #2a2929;
    color: rgb(184 184 178);
    border: none;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
}

.Signup-btn:hover{
    color: gray;
    font-size: 17px;
}

.Login-btn{
    background-color: #fff;
    color: black;
    border-radius: 21px;
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
    width: 94px;
    cursor: pointer;
}
.Login-btn:hover{
    font-weight: bold;
font-size: 16px;
    padding: 10px;
    width: 98px;
    cursor: pointer;
}